body{
    position: absolute;
}
.container5 {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 150px;
  }
  
  .title5 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
    color: rgb(119, 50, 139);
    font-family: 'BodoniStd-BookItalic', serif;
    margin-left: 400px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(37, 39, 118);
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #2980b9;
  }
  
  .container5 .bootom5 .image5 {
    position: relative;
    top: 20px;
    left: 200px;
    background-image: url('https://cinnamonweb.blob.core.windows.net/cinnamonweb-prd/media/Dhonveli-main-brand-site-DJI-0179-715x550px-301023.jpg');
    width: 600px;
    height:400px;

  }
 
  
  .bootom5 .content5 {
    position: relative;
    top: 20px;
    left: 500px;
  }
  